<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image">
    <img src="assets/descarga.png" alt="">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="text_center" size="12">
        <h5 class="text_center">Asesores Diagnóstico Clínico</h5>

        <h6 class="text_center">Versión 1.0.7</h6>
        <p>Políticas de Pivacidad y los Términos y Condiciones de Asesores Diagnóstico Clínico.</p>
        <p>Copyright © 2020 Asesores Diagnóstico Clínico Todos los derechos reservados.</p>
        <p>Permiso COFEPRIS: 183300201A1582</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text_center">
        <p>Desarrollador</p>
        <a class="link_humanly" href="https://humanly-sw.com/">Humanly Software</a>
        <img class="humanly" src="assets/humanly.png" alt="">
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
