<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div >
        <img src="assets/Doctors.png" alt="">
      </div>
      <div>
        <h3>¡Bienvenido!</h3>
        <h3>Nosotros Cuidamos de Tí.</h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide_img">
        <img src="assets/3173466.jpg" alt="">
      </div>
      <div>
        <h3>¡No salgas de casa! Nosotros vamos hasta tu domicilio.</h3>

      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="assets/Vaccine development-pana.png" alt="">
      </div>
      <div>
      <h3>Somos un Centro de Diagnóstico Integral, con más de 1600 exámenes.</h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="assets/3293465.jpg" alt="">
      </div>
      <div class="boton">
          <h3>Tus datos personales están siempre protegidos.</h3>
          <ion-button size="small" color="primary" mode="ios" (click)="finalizar()">
            Comenzar
          </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
