.text{
  color: #3880ff !important;
  justify-content: center;// TEMP:
  text-align: justify;
}

.primary_text{
  background-color:  #3880ff !important;
}

#instagram{
  background-color: #dd395e !important;
}

#facebook{
    background-color: #1774eb !important;
}

#google{
    background-color: #33a351 !important;
}
#youtube{
    background-color: #f80000 !important;
}
