<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="content">
<img src="assets/health.svg" alt="">
<ion-card>

  <ion-card-header>
    <ion-chip color="primary">
      <ion-avatar>
        <img src="assets/asesores.png">
      </ion-avatar>
      <ion-label>Asesores Diagnóstico Clínico</ion-label>
    </ion-chip>
  </ion-card-header>

  <ion-card-content>
    <p class="text">
      Estamos orgullosos de cumplir 28 años
destacándonos como un Centro de Diagnóstico
Integral comprometidos con la mejora continua
y preparando personal altamente calificado.
    </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-chip color="primary">
      <ion-avatar>
        <img src="assets/asesores.png">
      </ion-avatar>
      <ion-label>Política de Calidad</ion-label>
    </ion-chip>
  </ion-card-header>

  <ion-card-content>
      <p class="text">“Brindar servicios de Análisis Clínicos, Imagenología y Microbiológicos de Alimentos confiables y económicos preparando continuamente al personal en ética y valores, propiciando un ambiente de trabajo profesional con interés en la mejora continua que conozca y satisfaga las expectativas del cliente.”</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-chip color="primary">
      <ion-avatar>
        <img src="assets/asesores.png">
      </ion-avatar>
      <ion-label>Acreditación en la Norma ISO 17025:2005 (A-0298-024/11)</ion-label>
    </ion-chip>
  </ion-card-header>

  <ion-card-content>
      <p class="text">“Se obtuvo la Acreditación en el año 2011 en la Norma ISO 17025:2005 (A-0298-024/11) para estudios de Microbiología de Alimentos y Bebidas, a través de la Entidad Mexicana de Acreditación, A.C.</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-chip color="primary">
      <ion-avatar>
        <img src="assets/asesores.png">
      </ion-avatar>
      <ion-label>Acreditación en la Norma ISO 15189:2007 (CL-017)</ion-label>
    </ion-chip>
  </ion-card-header>

  <ion-card-content>
      <p class="text">En el año 2009 se logró la Acreditación en la Norma ISO 15189:2007 (CL-017) para pruebas de las disciplinas de Inmunología-Inmunoquímica y Química Clínica, a través de la Entidad Mexicana de Acreditación, A.C., incorporando posteriormente las disciplinas de Bacteriología y Hematología.</p>
  </ion-card-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" href="https://es-la.facebook.com/AsesoresDiagnosticoClinico/?rf=147698928688907">
        <ion-icon  name="logo-facebook"></ion-icon>
      </ion-fab-button>
        <ion-fab-button href="https://www.youtube.com/watch?v=Zv3crVWwNg8"  color="youtube"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
          <ion-fab-button href="https://www.instagram.com/asesores_diagnostico_clinico/" color="instagram"><ion-icon  name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button href="https://www.laboratorioasesores.com/" color="success"><ion-icon  name="logo-google"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
