<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estudios">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label>Estudios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
