.date{
  font-size: 12px;
}
.estudio{
    font-size: 13px;
}

.estudios{
  border-top: solid 1px #c1c1c1;
  border-bottom: solid 1px #c1c1c1;
  padding-top: .7rem;
  padding-bottom: .7rem;
}
.text_font{
  font-weight: 100;
}

.message{
  text-align: center;
}
